{% extends 'polls/base.html' %}
<!-- Taking the styling from the base.html template -->

{% block title %}
Login here
{% endblock %}
<!-- Adding a title of "Login here" -->

{% load crispy_forms_tags %}
<!-- loading crispy forms which makes the templates look a little better -->

{% block content %}
  <form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}

    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <!-- If the user wants to make an account it links to the register page -->
    <button type="submit" class="btn btn-success btn-lg">Login</button>

  </form>
  <!-- This is just a simple form for the login -->
{% endblock %}
