{% extends 'polls/base.html' %}
<!-- Taking the styling from the base.html template -->

{% block title %}
Create an Account
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="POST" action="../register/" class="form-group">
    {% csrf_token %}
     {{form|crispy}} <!-- filter to make the form look better -->
    <button type="submit" class="btn btn-success btn-lg">Register</button>
  </form>

  <!-- This is another simple form to register/create a user -->
{% endblock %}
