<html>
<head>
  <style type="text/css">
    .sidenav {
      height:100%;
      width:160px;
      position: fixed;
      z-index:1;
      top:0;
      left:0;
      background-color:#111;
      overflow-x: :hidden;
      padding-top:20px;
    }

    .sidenav a {
      padding:6px 8px 6px 16px;
      text-decoration: none;
      font-size:25px;
      color: #818181;
      display:block;
    }

    .sidenav a:hover {
      color:#f1f1f1;

    }

    .main {
      margin-left:160px;
      padding: 0px 10px;
    }

  </style>

  <title>{% block title %}Ashir's Website{% endblock %}</title>
</head>

<body>
  <div class="sidenav">
    <a href="../polls/base">HOME</a>
    <a href="../login/">LOGIN</a>
    <a href="../register/">REGISTER</a>
    <a href="../polls/points">POINTS</a>
    <a href="../polls/rebounds">REBOUNDS</a>
    <a href="../polls/">INDEX</a>
  </div>

  <div id="content", name="content", class="main">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">My Website</ht>
        <hr class="mt-0 mb-4">
        {% if user.is_authenticated %}
          {% block content %}
          BASE TEMPLATE
          IF LOGGING IN YOU CAN SEE THIS
          {% endblock %}
        {% else %}
          <p>YOU ARE NOT LOGGED IN: Login<a href="/register/">Here</a></p>
        {% endif %}
      </div>
    </div>
  </div>

</body>
</html>
