{% extends 'polls/base.html' %}
<!-- Taking the styling from the base.html template -->

{% block title %}
Index
{% endblock %}
<!-- Adding a title of "Index" -->

{% load crispy_forms_tags %}
<!-- loading crispy forms which makes the templates look a little better -->
{% block content %}

<body style="background-color: #FFFFE6">

<h1> Index! </h1>





<!-- A for loop to loop through the players and display their name, jersey number, and team name -->

<h4 style="color:blue;">

{{selectedPlayer.totalRebounds}}

</h4>


<form action="" method="POST"> {% csrf_token %}
    <label for="players">Choose a player:</label>

  <!-- Player First Name: <input type="text" name="firstName"/> -->

    <select name="firstName" id="players">

      {% for player in players %}
        <option>
          {{player.firstName}}
          {{player.lastName}}
        </option>

      {% endfor %}


    </select>



<input type="submit" value="Submit"/>


</form>

<!-- Another form to take in a player's name and display it onto the screen -->

</body>

{% endblock %}
