{% extends 'polls/base.html' %}
<!-- Taking the styling from the base.html template -->

{% block title %}
Rebounds
{% endblock %}
<!-- Adding a title of "Rebounds" -->

{% load crispy_forms_tags %}
<!-- loading crispy forms which makes the templates look a little better -->

{% block content %}
<body style="background-color: #FFFFE6">

<h1> Rebounds! </h1>

<ul>
{% for rebound in rebounds %}

{{player.totalRebounds}}

{% endfor %}
</ul>

<h4 style="color:blue;">

{{rebound}}
<!-- This prints the value of rebound on the template -->

</h4>

<form action="" method="POST"> {% csrf_token %}

  Rebounds: <input type="text" name="totalRebounds"/>

<input type="submit" value="Submit"/>


</form>

<!-- Another form to take in a value for the amount of rebounds and display it onto the screen -->

</body>

{% endblock %}
